.div, textarea, input {
    box-sizing: border-box;
}

.black-back {
    width: 800px;
    background: black;
    padding: 10px;
}

.white-front {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    background: yellow;
}

.w-100 {
    width: 100%;
    padding: 5px;
}


.w-50 {
    width: 50%;
    float: left;
}



input[type=email]{
    width: 100%;
}

input[type=text]{
    width: 100%;
}

textarea {
    width: 100%;
}