body {
    margin: 0px;
}

div {
    box-sizing: border-box;
}

.contact-box {
    width: 30%;
    height: 300px;
    background: pink;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.email-form {
    margin: auto;
    width: 100%;
}

.name-form {
    width: 20%;
}